$primaryFont: 'Roboto', sans-serif;
$tablet: 992px;
$phone: 650px;

.Auth {
    font-family: $primaryFont;
    min-height: 80vh;

    .mainImage {
        width: 65%;
        height: 769px;
        object-fit: cover;
    }

    .loginContainer {
        font-weight: 700;
        font-size: 26px;
        height: 80vh;

        @media (max-width: $phone) {
            width: 310px;
            height: 31px;
        }
    }

    .titleContainer {
        width: 372px;
        height: 342px;
        color: #00266B;
        font-weight: 600;
        font-size: 14px;
        background-color: #F8F9FA;
        border-radius: 16px;

        .user {
        }

        .password {
        }

        .button {
            width: 115px;
            height: 46px;
            text-align: center;
            color: #FFFFFF;
        }

        .inputField {
            input[type="text"] input[type="password"] {
                width: 85%;
                height: 44px;
                &:focus {
                    outline: none;
                }
            }
        }
        
        @media (max-width: 1110px) {
            width: 340px;
            height: 320px;
        }

        @media (max-width: 992px) {
            width: 372px;
            height: 342px;
        }

        @media (max-width: $phone) {
            .user {
            }

            .password {
            }
        }
    }
}