$primaryFont: 'Roboto', sans-serif;
$tablet: 840px;
$phone: 650px;

.Auth {
    font-family: $primaryFont;

    .imageContainer {
        .mainImage {
            height: 520px;
        }
    }

    .loginContainer {
        width: 383px;
        height: 36px;
        font-weight: 700;
        font-size: 26px;

        @media (max-width: $tablet) {

        }

        @media (max-width: $phone) {
            width: 310px;
            height: 31px;
        }
    }

    .titleContainer {
        width: 372px;
        height: 342px;
        color: #00266B;
        font-weight: 600;
        font-size: 14px;

        .user {
            width: 60px;
            height: 19px;
        }

        .password {
            width: 83px;
            height: 19px;
        }

        .button {
            width: 115px;
            height: 46px;
            text-align: center;
            background-color: #00266B;
            color: #FFFFFF;
        }

        @media (max-width: $tablet) {
            .user {

            }

            .password {
                
            }
        }

        @media (max-width: $phone) {
            .user {
                width: 52px;
                height: 14px;
            }

            .password {
                width: 74px;
                height: 15px;
            }
        }
    }
}