$primaryFont: 'Roboto', sans-serif;
$tablet: 840px;
$phone: 650px;

.Auth {
    font-family: $primaryFont;

    .imageContainer {
        position: relative;
        .mainImage {
            width: 800px;
            height: 520px;
        }
    }

    .loginContainer {
        position: absolute;
        width: 383px;
        height: 36px;
        left: 863px;
        top: 87px;

        .login {
            width: 530px;
            font-weight: 700;
            font-size: 26px;
        }

        @media (max-width: $tablet) {
            left: 203px;
            top: 167px;
        }

        @media (max-width: $phone) {
            width: 310px;
            height: 31px;
            left: 60px;
            top: 162px;
        }
    }

    .titleContainer {
        position: absolute;
        width: 372px;
        height: 342px;
        left: 863px;
        top: 139px;

        .user {
            position: absolute;
            width: 60px;
            height: 19px;
            left: 886px;
            top: 161px;
            font-weight: 600;
            font-size: 14px;
            color: #00266B;
        }

        .password {
            width: 83px;
            height: 19px;
            left: 886px;
            top: 262px;
            font-weight: 600;
            font-size: 14px;
            color: #00266B;
        }

        @media (max-width: $tablet) {
            .user {
                left: 272px;
                top: 277px;
            }

            .password {
                left: 272px;
                top: 379px;
            }
        }

        @media (max-width: $phone) {
            .user {
                width: 52px;
                height: 14px;
                left: 112px;
                top: 243px;
            }

            .password {
                width: 74px;
                height: 15px;
                left: 112px;
                top: 303px;
            }
        }
    }
}